<div>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

          <h1> Recuperação de Senha </h1>
          <div>
            <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"Email" %>
          </div>

          <div>
            <%= f.submit "Enviar instruções", class:"btn btn-default submit", style:"float: none; margin-left: 0; width: 70%;" %>
          </div>
        <% end %>
      </section>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
